body{
    font-family: "Poppins", "Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
    background: #F2F3F6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    
    background-image: url(image/fundo_palha.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.col-md-1{
    font-size: 44px;
    color: #059768;
}


.tabela{
   font-size: 20px;
   width: 100vw;
  
}
.BUTTON_LRD{
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 29px;
    font-weight: 100;
    padding: 20px;
    background-color: #059768;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

